@use "general";

%main-padding {
    padding: 15px 35px;
}

.sidebar {
    @include general.flex(column);
    @include general.square;
    @include general.box;
    @extend %main-padding;

    opacity: 0.9;
    min-width: 0;
    flex-shrink: 7;
    background: rgb(20, 44, 57);
}

.userbar {
    @include general.square;
    @include general.box;
    @extend %main-padding;

    opacity: 0.8;
    flex-shrink: 3;
    background: linear-gradient(rgb(240, 197, 147) 0%, rgb(122, 215, 240) 100%);
}

.commandbar {
    @include general.flex(column);
    @include general.square;
    @include general.box;
    //@extend %main-padding;

    //background: red;

    flex-shrink: 4; // 50%
}

.bottombar {
    @include general.flex; //?
    @include general.square;
    @include general.box;

    flex-shrink: 20;
    padding-top: 15px;

    .text {
        color: white;


            font-size: 0.9em;
            font-weight: 1000;

            font-family: "Aesthetic Iosevka Original", sans;
    }
}


.avatarbar {
    height: 35%;
    padding-top: 15px;

    display: flex;
    justify-content: center;

    img {
        height: 100%;
        object-fit: scale-down;
    }
}
.username {
    text-align: center;
    font-size: 2.66em;
    font-style: italic;
    font-weight: 700;
    color: white;
}
.passbar {
    margin: 15px auto;
    width: 200px;
}


.submitbar {

    display: flex;
margin: 0 auto;
width: 200px;
height: 30px;
}