@use "general";

%main-padding {
    padding: 10px 35px 20px 35px;
}

.sidebar {
    @include general.flex(column);
    @include general.square;
    @include general.box;
    @extend %main-padding;

    opacity: 0.9;
    min-width: 0;
    flex-shrink: 7;
    background: rgb(20, 44, 57);
}

.commandbar {
    @include general.flex(column);
    @include general.square;
    @include general.box;

    flex-shrink: 4;
}

.bottombar {
    @include general.flex;
    @include general.square;
    @include general.box;

    flex-shrink: 20;
    padding-top: 15px;

    .text {
        color: white;
        font-size: 0.9em;
        font-weight: 1000;
        font-family: "Aesthetic Iosevka Original", sans;
    }
}

.userbar {
    @include general.flex(column);
    @include general.square;
    @include general.box;
    @extend %main-padding;

    opacity: 0.8;
    flex-shrink: 3;
    background: linear-gradient(rgb(240, 197, 147) 0%, rgb(122, 215, 240) 100%);
}

.avatarbar {
    @include general.flex;

    height: 35%;

    flex-shrink: 0;
    padding: 15px 0;
    justify-content: center;

    div {
        height: 100%;
        aspect-ratio: 1;
        border: 5px solid;
        border-radius: 50%;
        object-fit: scale-down;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.mainbar {
    @include general.flex-center(column);

    margin: 15px auto;

    input {
        @include general.box;

        width: 200px;
        border: none;
        outline: none;
        color: #fff;
        padding: 0 15px;
        font-size: 1.2em;
        font-weight: 1000;
        text-align: center;
        border-radius: 16px;
        background: rgba(0, 0, 0, 0.2);
        border-top: 2px solid rgba(0, 0, 0, 0.3);
        border-bottom: 2px solid rgba(0, 0, 0, 0.3);
        font-family: "Aesthetic Iosevka Original", sans;
    }
}