@use "general";

.logo {
    @include general.flex;
    @include general.square;
    @include general.box;

    flex-shrink: 5;
    padding: 35px 0 0 0;

    img {
        @include general.box;

        height: 70%;
        object-fit: scale-down;
        margin: 0 auto auto auto;
    }
}

.command {
    @include general.flex;

    cursor: pointer;
    margin: 0 0 25px 0;
    
    .icon {
        @include general.flex-center;
    
        height: 100%;
        width: 30px;
        margin: 0 5px 0 10px;
    
        svg {
            height: 20px;
            width: 30px;
            fill: rgb(107, 187, 225);
        }
    }
    
    .text {
        color: #fff;
        font-size: 1.5em;
        font-weight: 1000;
        text-transform: uppercase;
        font-family: "Aesthetic Iosevka Original", sans;
    }
}

.hostname {
    font-size: 0.9em;
    font-weight: 1000;
    white-space: nowrap;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.65);
    font-family: "Aesthetic Iosevka Original", sans;
}

.expand {
    @include general.square;
}

.username {
    color: white;
    font-size: 2.5em;
    font-weight: 1000;
    text-align: center;
    font-family: "Aesthetic Iosevka Original", sans;
}

.session {
    @include general.flex-center;

    width: 200px;
    height: 30px;
    color: white;
    cursor: pointer;
    overflow: hidden;
    font-size: 0.9em;
    font-weight: 1000;
    margin: 20px 0 0 0;
    white-space: nowrap;
    border-radius: 16px;
    text-overflow: ellipsis;
    text-transform: uppercase;
    background-color: rgb(0, 0, 0);
    font-family: "Aesthetic Iosevka Original", sans;
}



/*
.submitswitch {
    border-radius: 4px;
    height: 30px;
    box-shadow: 0 2px 3px rgba(0,0,0,.05);
    width: 30px;
    background-color: rgb(0, 0, 0);
}*/