@use "sass:math";

$login_width: 850px;
$login_height: 500px;

.loginwindow {
    top: 50%;
    left: 50%;
    display: flex;
    position: absolute;
    overflow: hidden;
    border-radius: 16px;
    margin: -#{math.div($login_height, 2)} 0 0 -#{math.div($login_width, 2)};
    width: $login_width;
    height: $login_height;
}

/*
margin: -22.5vh 0 0 -22.5vw;
width: 45%;
height: 45%;
min-width: 850px;
min-height: 500px;
*/