@font-face {
    font-family: 'Aesthetic';
    src: url('../assets/fonts/Aesthetic.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Aesthetic';
    src: url('../assets/fonts/Aesthetic-Bold.ttf') format('truetype');
    font-weight: 1000;
}