@font-face {
    font-family: 'Aesthetic';
    src: url('../assets/fonts/Aesthetic.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Aesthetic';
    src: url('../assets/fonts/Aesthetic-Bold.ttf') format('truetype');
    font-weight: 1000;
}

@font-face {
    font-family: 'Genjyuu';
    src: url('../assets/fonts/Genjyuu.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Arabic';
    src: url('../assets/fonts/NotoSansArabic-Bold.ttf') format('truetype');
    font-weight: normal;
    size-adjust: 80%;
}