@mixin flex($direction: row) {
    display: flex;
    flex-direction: $direction;
}

@mixin flex-center($direction: row) {
    @include flex($direction);
    align-items: center;
    justify-content: center;
}

@mixin square($x: 100%) {height: $x; width: $x;}

@mixin box() {box-sizing: border-box;}

@mixin font() {
    font-weight: 1000;
    font-family: "Aesthetic", "Genjyuu", sans;
}

* {@include font; user-select: none;}

body {
    margin: 0;
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    transition: background-image 0.2s ease-in-out;
}

input[type="checkbox"] {
    @include flex-center;
    @include square(20px);

    margin: 0;
    cursor: pointer;
    appearance: none;
    border-radius: 50%;
    translate: 0 -0.11em;
    border: 2px solid #A0A0A0;
    outline: none;

    &::before {
        @include square(10px);

        content: "";
        color: #A0A0A0;
        background-color: #A0A0A0;
        border-radius: 50%;
        transform: scale(0);
        box-shadow: inset 1em 1em;
        transition: 120ms transform ease-in-out;
    }

    &:checked::before {transform: scale(1);}
}

input[type="text"] {
    @include font;

    border: none;
    outline: none;
    color: #A0A0A0;
    background: none;
}

.text {@include font;}

.button {cursor: pointer;}

.scroll {
    @include flex(column);

    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 15px;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
}

.Dropdown-root {
    margin: 0 0 15px 0;
    position: relative;

    .Dropdown-control {
        outline: none;
        cursor: pointer;
        overflow: hidden;
        color: #A0A0A0;
        border-radius: 8px;
        position: relative;
        box-sizing: border-box;
        text-transform: capitalize;
        padding: 8px 52px 8px 10px;
        border: 4px solid #A0A0A0;

        &:hover {
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
            background-color: rgba(255, 255, 255, 0.1);
        }

        .Dropdown-placeholder {
            @include font;
            color: #A0A0A0;
        }

        .Dropdown-arrow {
            width: 0;
            top: 14px;
            height: 0;
            right: 10px;
            content: "";
            display: block;
            position: absolute;
            border-radius: 10px;
            border-style: solid;
            border-width: 6px 6px 0;
            border-color: #A0A0A0 transparent transparent;
        }
    }

    .Dropdown-menu {
        top: 100%;
        z-index: 2;
        width: 100%;
        margin-top: -5px;
        overflow-y: auto;
        max-height: 200px;
        position: absolute;
        box-sizing: border-box;
        border-radius: 0 0 8px 8px;
        border: 4px solid #A0A0A0;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);

        .Dropdown-group > .Dropdown-title {
            @include font;
            
            color: #A0A0A0;
            padding: 8px 10px;
            text-transform: capitalize;
        }

        .Dropdown-option {
            @include font;

            display: block;
            cursor: pointer;
            color: #A0A0A0;
            padding: 8px 10px;
            box-sizing: border-box;
            text-transform: capitalize;
            background-color: rgb(80, 80, 80);

            &:last-child {
                border-bottom-right-radius: 2px;
                border-bottom-left-radius: 2px;
            }
            
            &:hover {background-color: rgb(90, 90, 90);}
            &.is-selected {background-color: rgb(100, 100, 100);}
        }
    }

    .Dropdown-noresults {
        color: #ccc;
        display: block;
        cursor: default;
        padding: 8px 10px;
        box-sizing: border-box;
    }
}

.is-open {
    .Dropdown-control {
        border-radius: 8px 8px 0 0;
        .Dropdown-arrow {
            border-color: transparent transparent #A0A0A0;
            border-width: 0 5px 5px;
        }
    }
}

.notransition {
    -webkit-transition: none !important; 
    -moz-transition: none !important; 
    -o-transition: none !important; 
    -ms-transition: none !important; 
    transition: none !important; 
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background: none;
    border-radius: 16px;
}

::-webkit-scrollbar-track:hover {
    background: #2C2C2C;
}

::-webkit-scrollbar-thumb {
    background: #9B9FA1;
    border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
    background: #BFBFBF;
}

::-webkit-scrollbar-thumb:active {
    background: #FFFFFF;
}

