@use "general";

.notification {
    @include general.font;
    @include general.flex-center;
    height: 50px; width: 40%;
    transition: opacity ease-in 500ms;
    border: 5px solid #e6e6e6;
    border-radius: 20px;
    font-size: 20px;
    color: #e6e6e6;
    margin-top: 10px;
    opacity: 0;
}

.info {background-color: rgba(61, 109, 182, 0.6);}
.success {background-color: rgba(61, 182, 87, 0.6); }
.warning {background-color: rgba(180, 182, 61, 0.6);}
.error {background-color: rgba(182, 61, 61, 0.6);}

.evoker {
    @include general.flex-center;
    @include general.square(50px);

    top: 10px;
    left: 10px;
    opacity: 0;
    cursor: pointer;
    position: fixed;
    border-radius: 50%;
    background-color: black;
    transition: opacity 150ms ease;

    svg {
        width: 40px;
        height: 40px;
    }

    &:hover {opacity: 0.9;}
    &:active {opacity: 0.55;}
}

.logo {
    @include general.flex;
    @include general.square;
    @include general.box;

    flex-shrink: 5;
    padding: 35px 0 0 0;

    img {
        @include general.box;

        height: 70%;
        max-height: 180px;
        object-fit: scale-down;
        margin: 0 auto auto auto;
    }
}

.command {
    @include general.flex;

    margin: 0 0 25px 0;
    
    .icon {
        @include general.flex-center;
    
        width: 30px;
        height: 100%;
        margin: 0 15px 0 10px;
    
        svg {
            width: 30px;
            height: 30px;
        }
    }
    
    .text {
        font-size: 1.5em;
        font-weight: 1000;
        text-transform: uppercase;
        transition: opacity ease-in-out 100ms;

        &:hover {opacity: 0.7;}
        &:active {opacity: 0.55;}
    }
}

.hostname {
    font-size: 0.9em;
    font-weight: 1000;
    white-space: nowrap;
    text-transform: uppercase;
    font-family: "Aesthetic", sans;
}

.expand {@include general.square;}

.username {
    font-size: 2.5em;
    font-weight: 1000;
    text-align: center;
    font-family: "Aesthetic", sans;
    transition: opacity ease 200ms;
}

.session {
    @include general.flex-center;

    width: 200px;
    height: 30px;
    cursor: pointer;
    overflow: hidden;
    font-size: 0.9em;
    font-weight: 1000;
    margin: 20px 0 0 0;
    white-space: nowrap;
    border-radius: 16px;
    text-overflow: ellipsis;
    text-transform: uppercase;
    font-family: "Aesthetic", sans;
}

.SVGBackground {fill: black;}

.SVGPath {fill: rgb(107, 187, 225);}

.hidden {visibility: hidden !important;}

/*
.submitswitch {
    border-radius: 4px;
    height: 30px;
    box-shadow: 0 2px 3px rgba(0,0,0,.05);
    width: 30px;
    background-color: rgb(0, 0, 0);
}*/