@use "general";
@use "sass:math";

$settings_width: 500px;

$login_width: 850px;
$login_height: 500px;

.notificationwindow {
    @include general.flex-center(column);
    position: fixed;
    pointer-events: none;
    top: 0; left: 0; right: 0;
    height: fit-content;
    max-height: 35%;
    z-index: 100;
}

.settingwindow {
    @include general.flex(column);

    top: 0;
    bottom: 0;
    z-index: 2;
    height: 100%;
    position: absolute;
    transition: left 400ms;
    width: $settings_width;
    left: -#{$settings_width};
    border-radius: 0 16px 16px 0;
}

.settingwindow.active {
    left: 0;
}

.loginwindow {
    @include general.flex;
    
    top: 50%;
    left: 50%;
    z-index: 1;
    overflow: hidden;
    position: absolute;
    border-radius: 16px;
    width: $login_width;
    height: $login_height;
    transition: transform cubic-bezier(.47,1.64,.41,.8) 700ms, translate cubic-bezier(.47,1.64,.41,.8) 700ms, scale cubic-bezier(.47,1.64,.41,.8) 1000ms, opacity cubic-bezier(.47,1.64,.41,.8) 1500ms;
    margin: -#{math.div($login_height, 2)} 0 0 -#{math.div($login_width, 2)};
}

/*
margin: -22.5vh 0 0 -22.5vw;
width: 45%;
height: 45%;
min-width: 850px;
min-height: 500px;
*/