@use "general";
@use "sass:math";

$settings_width: 520px;

$login_width: 850px;
$login_height: 500px;

.notificationwindow {
    @include general.flex-center(column);
    position: fixed;
    pointer-events: none;
    top: 0; left: 0; right: 0;
    height: fit-content;
    max-height: 35%;
    z-index: 100;
}

#settingroot .react-draggable {
    top: 0;
    bottom: 0;
    z-index: 2;
    height: 100%;
    position: absolute;
}

.settingwindow {
    @include general.flex(column);

    top: 0;
    bottom: 0;
    z-index: 2;
    height: 100%;
    min-height: 0;
    overflow: hidden;
    position: absolute;
    border-radius: 25px;
    transition: transform 400ms, border-radius 500ms;
    width: $settings_width; left: 0;
}

.settingwindow.origin_left {border-radius: 0 25px 25px 0 !important;}
.settingwindow.origin_right {border-radius: 25px 0 0 25px !important;}

.loginwindow {
    @include general.flex;
    
    top: 50%;
    left: 50%;
    z-index: 1;
    position: absolute;
    width: $login_width;
    height: $login_height;
    transition: transform cubic-bezier(0.65, 1.75, 0.62, 0.68) 1200ms, translate cubic-bezier(0.65, 1.75, 0.62, 0.68) 1200ms, scale cubic-bezier(0.65, 1.75, 0.62, 0.68) 1000ms, opacity cubic-bezier(.47,1.64,.41,.8) 1500ms;
    margin: -#{math.div($login_height, 2)} 0 0 -#{math.div($login_width, 2)};

    & > div {
        @include general.flex;
        width: 100%; height: 100%;
        
        & > div {
            @include general.flex;
            width: 100%; height: 100%;
            transition: border-radius 500ms;
            border-radius: 18px;
            overflow: hidden;
        }
    }
}