name: AUR Update
run-name: AUR package update by ${{ github.actor }} release
on:
  release:
    types: [published]
permissions:
  contents: write
concurrency:
  group: "aur"
  cancel-in-progress: true
jobs:
  aur-update:
    environment:
      name: aur-packages
    runs-on: ubuntu-latest
    container:
      image: archlinux
      options: --privileged
    steps:
      - name: AUR Update
        uses: TheWisker/aur-update@master
        with:
          username: TheWisker
          email: TheWisker@protonmail.com